mc_application/cache/*
!mc_application/cache/index.html
!mc_application/cache/.htaccess

mc_application/logs/*
!mc_application/logs/index.html
!mc_application/logs/.htaccess

logs/
tmp/

uploads/
node_modules/
.sass-cache/
.idea/

\.htpasswd

mc_application/config/config\.php

mc_application/config/database\.php
mc_application/config/dynamic_routes\.php

mc_application/controllers/Welcome\.php

\.DS_Store

robots.txt
