.logo-animate {
  #rect1 {
    animation: rect1 .5s ease forwards;
    //animation-delay: 1s;
    transform: translateY(-33px);
  }
  #rect2 {
    animation: rect1 .5s ease forwards;
    animation-delay: .5s;
    transform: translateY(-33px);
  }
  #albert-group, #cliff-group {
    animation: title .5s ease forwards;
    transform: translateY(32px);
  }
  #albert-group {
    //animation-delay: 1s;
  }
  #cliff-group {
    animation-delay: .5s;
  }
  #rect3 {
    animation: rect3 1.5s ease forwards;
    animation-delay: 1s;
    transform: translateX(40px);
  }
  #rect4 {
    animation: rect3 .4s ease forwards;
    animation-delay: 1.7s;
    transform: translateX(40px);
  }
  #rect5 {
    animation: rect4 1s ease forwards;
    animation-delay: 1.9s;
    transform: translateX(-40px);
  }

  #rect6 {
    animation: rect6 1.2s ease forwards;
    animation-delay: 2.8s;
    transform: translateX(39px);
  }

  #rect7 {
    animation: rect7 1.2s ease forwards;
    animation-delay: 2.8s;
    transform: translateX(-9px);
  }
  #london_group {
    animation: rect8 1.4s linear forwards;
    animation-delay: 2.8s;
    opacity: 0;
  }

  @keyframes rect1 {
    0% {
      transform: translateY(-33px);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes title {
    0% {
      transform: translateY(32px);
    }
    100% {
      transform: translateY(0);
    }
  }


  @keyframes rect3 {
    0% {
      transform: translateX(40px);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes rect4 {
    0% {
      transform: translateX(-40px);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes rect6 {
    0% {
      transform: translateX(39px);
    }
    100% {
      transform: translateX(31px);
    }
  }
  @keyframes rect7 {
    0% {
      transform: translateX(-9px);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes rect8 {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}